@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root{
    --sea-green: #388659ff;
--pigment-green: #52aa5eff;
--zomp: #52aa8aff;
--process-cyan: #3aaed8ff; 
--titulo: "Montserrat", sans-serif;
--texto: "SUSE Mono", sans-serif; 
}
